*{
    /* margin: 0;
    padding: 0; */
    
}
.login-container
{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 150px;

}
.section-left
{
    flex: .52;
}
.section-right
{
    flex: .48;
    margin-left: 50px;
    /* background-color: white; */
    /* box-shadow: 0 0 10px -7px black; */
    
    padding: 10px;
}
.image-wrapper:hover 
{
    cursor: pointer;
}
.image-wrapper
{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    height: 70px;
    box-shadow: 0 0 10px -7px black;
    border-radius: 5px;
}
.image-wrapper span
{
    padding: 0 20px;
    font-weight: 600;
}
.section-right hr
{
    width: 100%;
    margin: 20px 0;
}

.section-left h1
{
    margin: 0;
    font-size: 3.5em;
    
    color: blue;
    letter-spacing: -2px;
}
.section-left p
{
    margin: 0;
    font-size: 1.5em;
}